# GitHub API Token
GITHUB_TOKEN=

# OpenAI API Key
OPENAI_API_KEY=

# Other configuration variables
REPO_NAME=spring-projects/spring-boot
PR_NUMBER=42933

PGPASSWORD=
PGHOST=
PGPORT=25060
PGDATABASE=defaultdb
PGUSER=doadmin
PGSSLROOTCERT=
PGSSLMODE=verify-full


MONGODB_HOST=
MONGODB_PORT=27017
MONGODB_DATABASE=
MONGODB_USERNAME=
MONGODB_PASSWORD=

PYTHONPATH=src