openai # https://pypi.org/project/openai/ - OpenAI is an artificial intelligence research laboratory consisting of the for-profit OpenAI LP and the non-profit OpenAI Inc. The company aims to ensure that artificial general intelligence benefits all of humanity.    

langchain-community # https://pypi.org/project/langchain-community/ - Langchain is a Python library that provides a simple interface to the OpenAI API. It is designed to be easy to use and flexible, allowing you to quickly build and train models for a wide range of natural language processing tasks.
langchain-openai # https://pypi.org/project/langchain-openai/ - Langchain is a Python library that provides a simple interface to the OpenAI API. It is designed to be easy to use and flexible, allowing you to quickly build and train models for a wide range of natural language processing tasks.
PyGithub # https://pypi.org/project/PyGithub/ - PyGithub is a Python library that provides a simple interface to the GitHub API. It is designed to be easy to use and flexible, allowing you to quickly build and train models for a wide range of natural language processing tasks.
python-dotenv # https://pypi.org/project/python-dotenv/ - python-dotenv is a Python library that provides a simple interface to the GitHub API. It is designed to be easy to use and flexible, allowing you to quickly build and train models for a wide range of natural language processing tasks.
chromadb # https://pypi.org/project/chromadb/ - ChromaDB is a fast, open-source, in-memory vector database.
psycopg # https://pypi.org/project/psycopg/ - psycopg is a Python library that provides a simple interface to the PostgreSQL database. It is designed to be easy to use and flexible, allowing you to quickly build and train models for a wide range of natural language processing tasks.
pymongo # https://pypi.org/project/pymongo/ - pymongo is a Python library that provides a simple interface to the MongoDB database. It is designed to be easy to use and flexible, allowing you to quickly build and train models for a wide range of natural language processing tasks.
langchain_postgres # https://pypi.org/project/langchain-postgres/ - langchain-postgres is a Python library that provides a simple interface to the PostgreSQL database. It is designed to be easy to use and flexible, allowing you to quickly build and train models for a wide range of natural language processing tasks.
pytest # https://pypi.org/project/pytest/ - pytest is a Python library that provides a simple interface to the pytest framework. It is designed to be easy to use and flexible, allowing you to quickly build and train models for a wide range of natural language processing tasks.
pytest-cov # https://pypi.org/project/pytest-cov/ - pytest-cov is a Python library that provides a simple interface to the pytest framework. It is designed to be easy to use and flexible, allowing you to quickly build and train models for a wide range of natural language processing tasks.
pytest-mock # https://pypi.org/project/pytest-mock/ - pytest-mock is a Python library that provides a simple interface to the pytest framework. It is designed to be easy to use and flexible, allowing you to quickly build and train models for a wide range of natural language processing tasks.
Flask # https://pypi.org/project/Flask/ - Flask is a Python library that provides a simple interface to the Flask framework. It is designed to be easy to use and flexible, allowing you to quickly build and train models for a wide range of natural language processing tasks.
click # https://pypi.org/project/click/ - click is a Python library that provides a simple interface to the click framework. It is designed to be easy to use and flexible, allowing you to quickly build and train models for a wide range of natural language processing tasks.
gunicorn # https://pypi.org/project/gunicorn/ - gunicorn is a Python library that provides a simple interface to the gunicorn framework. It is designed to be easy to use and flexible, allowing you to quickly build and train models for a wide range of natural language processing tasks.

mongoengine # https://pypi.org/project/mongoengine/ - mongoengine is a Python library that provides a simple interface to the MongoDB database. It is designed to be easy to use and flexible, allowing you to quickly build and train models for a wide range of natural language processing tasks.
flask-cors # https://pypi.org/project/flask-cors/ - flask-cors is a Python library that provides a simple interface to the flask-cors framework. It is designed to be easy to use and flexible, allowing you to quickly build and train models for a wide range of natural language processing tasks.
langchain-text-splitters # https://pypi.org/project/langchain-text-splitters/ - langchain-text-splitters is a Python library that provides a simple interface to the langchain-text-splitters framework. It is designed to be easy to use and flexible, allowing you to quickly build and train models for a wide range of natural language processing tasks.
pymongo[srv] # https://pypi.org/project/pymongo/ - pymongo is a Python library that provides a simple interface to the MongoDB database. It is designed to be easy to use and flexible, allowing you to quickly build and train models for a wide range of natural language processing tasks.
langchain-mongodb # https://pypi.org/project/langchain-mongodb/ - langchain-mongodb is a Python library that provides a simple interface to the langchain-mongodb framework. It is designed to be easy to use and flexible, allowing you to quickly build and train models for a wide range of natural language processing tasks.

psycopg2 # https://pypi.org/project/psycopg2/ - psycopg2 is a Python library that provides a simple interface to the psycopg2 framework. It is designed to be easy to use and flexible, allowing you to quickly build and train models for a wide range of natural language processing tasks.
psycopg[binary] # https://pypi.org/project/psycopg/ - psycopg is a Python library that provides a simple interface to the psycopg framework. It is designed to be easy to use and flexible, allowing you to quickly build and train models for a wide range of natural language processing tasks.