jupyter # https://jupyter.org/ - Jupyter is a free, open-source, interactive web tool known as a computational notebook, which researchers can use to combine software code, computational output, explanatory text and multimedia resources in a single document.
ipykernel # https://ipykernel.readthedocs.io/en/latest/ - The IPython kernel for Jupyter
numpy # https://numpy.org/ - NumPy is the fundamental package for scientific computing with Python.
pandas # https://pandas.pydata.org/ - pandas is a fast, powerful, flexible and easy to use open source data analysis and data manipulation library built on top of the Python programming language.
torchvision # https://pytorch.org/vision/stable/index.html - The torchvision package consists of popular datasets, model architectures, and common image transformations for computer vision.
torch # https://pytorch.org/ - An open source machine learning framework that accelerates the path from research prototyping to production deployment.
scikit-learn # https://scikit-learn.org/stable/ - scikit-learn is a Python library for machine learning. It provides a range of tools for data analysis, modeling, and prediction.
openpyxl # https://openpyxl.readthedocs.io/en/stable/ - A Python library to read/write Excel 2010 xlsx/xlsm files
matplotlib # https://matplotlib.org/stable/users/explain/quick_start.html - Matplotlib is a comprehensive library for creating static, animated, and interactive visualizations in Python.
plotly # https://plotly.com/python/ - Plotly is a Python graphing library that makes interactive, publication-quality graphs online. https://dash.plotly.com/minimal-app
streamlit # https://streamlit.io/ - Streamlit is an open-source app framework for Machine Learning and Data Science teams. Create beautiful data apps in hours, not weeks. All in pure Python. All for free.
names # https://pypi.org/project/names/ - Generate random names
openai # https://pypi.org/project/openai/ - OpenAI is an artificial intelligence research laboratory consisting of the for-profit OpenAI LP and the non-profit OpenAI Inc. The company aims to ensure that artificial general intelligence benefits all of humanity.    

langchain-community # https://pypi.org/project/langchain-community/ - Langchain is a Python library that provides a simple interface to the OpenAI API. It is designed to be easy to use and flexible, allowing you to quickly build and train models for a wide range of natural language processing tasks.
langchain-openai # https://pypi.org/project/langchain-openai/ - Langchain is a Python library that provides a simple interface to the OpenAI API. It is designed to be easy to use and flexible, allowing you to quickly build and train models for a wide range of natural language processing tasks.
gradio_client==0.2.10 # https://pypi.org/project/gradio_client/ - Gradio is a Python library that provides a simple interface to the OpenAI API. It is designed to be easy to use and flexible, allowing you to quickly build and train models for a wide range of natural language processing tasks.
gradio==3.38.0 # https://pypi.org/project/gradio/ - Gradio is a Python library that provides a simple interface to the OpenAI API. It is designed to be easy to use and flexible, allowing you to quickly build and train models for a wide range of natural language processing tasks.
PyGithub # https://pypi.org/project/PyGithub/ - PyGithub is a Python library that provides a simple interface to the GitHub API. It is designed to be easy to use and flexible, allowing you to quickly build and train models for a wide range of natural language processing tasks.
python-dotenv # https://pypi.org/project/python-dotenv/ - python-dotenv is a Python library that provides a simple interface to the GitHub API. It is designed to be easy to use and flexible, allowing you to quickly build and train models for a wide range of natural language processing tasks.
chromadb # https://pypi.org/project/chromadb/ - ChromaDB is a fast, open-source, in-memory vector database.
psycopg # https://pypi.org/project/psycopg/ - psycopg is a Python library that provides a simple interface to the PostgreSQL database. It is designed to be easy to use and flexible, allowing you to quickly build and train models for a wide range of natural language processing tasks.
pymongo # https://pypi.org/project/pymongo/ - pymongo is a Python library that provides a simple interface to the MongoDB database. It is designed to be easy to use and flexible, allowing you to quickly build and train models for a wide range of natural language processing tasks.
langchain_postgres # https://pypi.org/project/langchain-postgres/ - langchain-postgres is a Python library that provides a simple interface to the PostgreSQL database. It is designed to be easy to use and flexible, allowing you to quickly build and train models for a wide range of natural language processing tasks.
pytest # https://pypi.org/project/pytest/ - pytest is a Python library that provides a simple interface to the pytest framework. It is designed to be easy to use and flexible, allowing you to quickly build and train models for a wide range of natural language processing tasks.
pytest-cov # https://pypi.org/project/pytest-cov/ - pytest-cov is a Python library that provides a simple interface to the pytest framework. It is designed to be easy to use and flexible, allowing you to quickly build and train models for a wide range of natural language processing tasks.
pytest-mock # https://pypi.org/project/pytest-mock/ - pytest-mock is a Python library that provides a simple interface to the pytest framework. It is designed to be easy to use and flexible, allowing you to quickly build and train models for a wide range of natural language processing tasks.
Flask # https://pypi.org/project/Flask/ - Flask is a Python library that provides a simple interface to the Flask framework. It is designed to be easy to use and flexible, allowing you to quickly build and train models for a wide range of natural language processing tasks.
click # https://pypi.org/project/click/ - click is a Python library that provides a simple interface to the click framework. It is designed to be easy to use and flexible, allowing you to quickly build and train models for a wide range of natural language processing tasks.